body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 2em 0;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin: 40px 20px;
}

h2 {
  color: #333;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
}

.project,
.experience-item,
.education-item {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .header-content,
  .section-content {
    padding: 0 20px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2em 0;
  text-align: center;
}

.footer-content {
  width: 100%;
  margon: 0 auto;
  text-alig: center;
}
